<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767513700559-r6fc6hsl2p0nvrtpn55h03do25p0snqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767513700559-r6fc6hsl2p0nvrtpn55h03do25p0snqg</string>
	<key>API_KEY</key>
	<string>AIzaSyC6xZ6io60A0V8pZ5QckbB1D0jsMZu_OMg</string>
	<key>GCM_SENDER_ID</key>
	<string>767513700559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appAgni</string>
	<key>PROJECT_ID</key>
	<string>app-agni-7cbe5</string>
	<key>STORAGE_BUCKET</key>
	<string>app-agni-7cbe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767513700559:ios:08f9e77b1d3d9240732fba</string>
</dict>
</plist>